.wall_module .replies_wrap {
  display: none !important;
  visibility: hidden !important;
}

.wall_module .post_replies_header {
  display: none !important;
  visibility: hidden !important;
}

.vkcb .vkcb-btn {
  float: inherit;
  margin-right: inherit;
}

.wall_module .post_replies_header.show-block {
  display: block !important;
  visibility: visible !important;
}

.wall_module .replies_wrap.vkcb-show {
  display: block !important;
  visibility: visible !important;
}

.vkcb.-global-off .wall_module .reply_link_wrap .reply_link {
  visibility: hidden !important;
}

.vkcb.-global-off .wall_module .replies_wrap,
.vkcb.-global-off #wl_replies_wrap,
.vkcb.-global-off #wl_reply_form_wrap,
.vkcb.-global-off #mv_comments_wrap,
.vkcb.-global-off #mv_your_comment,
.vkcb.-global-off #pv_comments,
.vkcb.-global-off #pv_comments_header,
.vkcb.-global-off #pv_your_comment {
  display: none !important;
  visibility: hidden !important;
}
